 
@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 100 700;
    font-display: swap;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


.container {
    text-align:center;
    width:80%;
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); display: flex;
 display:flex;

}

table {
    border:#a898db 1px solid;
    margin-left:95px;
}


th, td ,th {
    text-align: center;
    background-color: #ebe9f0;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
    
}

.datums {
    font-weight: bold;
    background-color: #eae8f0;
}

.grafiek {
    background-color: white;
    border: 1px solid;
    border-radius: 3px;
}

.grafieken {
    padding-bottom: 45%;
    justify-content: center; 
    align-items: center;
    text-align: center; 
    display:flex;
    flex-direction: column;
}
